$black: #01080c;
$grey: #8492a5;
$blue: #0077ff;
$white: #ffffff;
$menuGrey: #d3dce6;
$heroGrey: #e0e6ed;
$boobsGrey: #b0bbcb;
$headerGradient: linear-gradient(180deg, #01080c 40.12%, rgba(1, 8, 12, 0) 100%);
$shadow: linear-gradient(180deg, rgba(1, 8, 12, 0) 0%, #01080c 100%);
$borderGray: #424242;
$borderBlack: #3b4857;
$scrollBlack: #273443;
$photoReplace: #0c151d;
$opacityBlue: rgba(0, 119, 255, 0.3);
$disabled: #72adf2;
