.map {
  padding-top: 110px;
  .map__content {
    position: relative;
    @include big-width;
    display: flex;
    justify-content: space-between;
    .map__text-block {
      padding-top: 37px;
      h2 {
        font-weight: 300;
        font-size: 36px;
        line-height: 140%;
        color: $white;
        max-width: 450px;
      }
      h1 {
        font-weight: 400;
        font-size: 50px;
        line-height: 58px;
        color: $white;
        padding-top: 84px;
      }
      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        padding-top: 20px;
        color: $boobsGrey;
        max-width: 308px;
      }
    }
    .map__image {
      img {
        width: 100%;
        max-width: 750px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .map {
    padding-top: 100px;
    .map__content {
      display: block;
      position: relative;
      .map__text-block {
        position: relative;
        z-index: 10;
        padding-bottom: 80px;
      }
      .map__image {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
  }
}

@media (max-width: 700px) {
  .map {
    padding-bottom: 40px;
    .map__content {
      .map__text-block {
        padding-top: 0;
        h2 {
          font-size: 24px;
          line-height: 140%;
        }
        h1 {
          font-size: 40px;
          line-height: 46px;
          padding-top: 60px;
        }
        p {
          font-size: 18px;
          line-height: 140%;
        }
      }
    }
  }
}