.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg_green.png') no-repeat 50%/cover;
    padding-top: 205px;
    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__subtitle {
        margin-top: 10px;
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 400px;
    }
    &__link {
        color: #000;
        font-weight: bold;
        border-radius: 10px;
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
    &__lenguage_btn {
        background: none;
        border: none;
        text-decoration: none;
        font-weight: bold;
        width: 40px;
        height: 50px;
        background-color: $main-color;
        transform: rotate(45deg);
        border-radius: 10px;
        transition: 0.1s;
        &:active{
            border: none;
        }
        p{
            transform: rotate(315deg);
        }
    }
    #lenguage_ru{
        background: $main-color;
        opacity: 1;
    }
    #lenguage_ua{
        background: $main-color;
        opacity: 0.6;
    }
    #lenguage_en{
        background: $main-color;
        opacity: 0.6;
    }
}

