@import "style/_basics";
@import "style/our-services";
@import "style/_speaking";
@import "style/_map";


.our-services {
  padding-top: 80px;
}

.target {
  @include big-width;
  &__title {
    text-align: center;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    color: $white;
    margin-bottom: 120px;
    margin-top: 180px;
  }
  &__container {
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: space-evenly;
    margin-bottom: 250px;
  }
  &__list1 {
    &-item {
      margin-bottom: 80px;
      &--title {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: $white;
        margin-bottom: 20px;
      }
      &--text {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: $heroGrey;
        padding-left: 20px;
        position: relative;
      }
      &--text::before {
        content: "";
        width: 1px;
        height: 100%;
        background: $blue;
        left: 0;
        position: absolute;
      }
    }
  }

  &__list2 {
    &-item {
      margin-bottom: 80px;
      &--title {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: $white;
        margin-bottom: 20px;
      }
      &--text {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: $heroGrey;
        padding-left: 20px;
        position: relative;
      }
      &--text::before {
        content: "";
        width: 1px;
        height: 100%;
        background: $blue;
        left: 1px;
        position: absolute;
      }
    }
  }
}
@media (max-width: 800px) {
  .target {
    &__title {
      margin-top: 100px;
      margin-bottom: 62px;
    }
    &__container {
      display: block;
      margin-bottom: 144px;
    }
    &__list1 {
      &-item {
        margin-bottom: 52px;
        &--title {
          font-size: 18px;
          line-height: 21px;
        }
        &--text::before {
          content: "";
          width: 1px;
          height: 100%;
          background: $blue;
          left: 1px;
          position: absolute;
        }
      }
    }
    &__list2 {
      &-item {
        margin-bottom: 52px;
        &--title {
          font-size: 18px;
          line-height: 21px;
        }
        &--text::before {
          content: "";
          width: 1px;
          height: 100%;
          background: $blue;
          left: 1px;
          position: absolute;
        }
      }
    }
  }
}

.solution {
    @include big-width;
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: space-between;
    margin-bottom: 270px;
    &__btn{
        @include empty-btn; 
        font-family: 'Gilroy';
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        background: transparent;
        padding: 19px 47px;
        display: inline-block;
    }
    &__title{
        font-weight: 400;
        font-size: 32px;
        line-height: 140%;
        color: $white;
        margin-bottom: 32px;
    }
    &__pretitle{
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $heroGrey;
        margin-bottom: 48px;
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 70px;
        align-items: center;
        &-item{
        &--img{
            margin-bottom: 34px;
        }
        &--text{
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;
            color: $heroGrey;
        }
    }
}
}
@media (max-width: 1030px) {
  .solution {
    grid-template-columns: 400px 300px;
  }
}

@media (max-width: 800px) {
    .solution {
        display: block;
        margin-bottom: 140px;
        &__block{
          max-width: 500px;
            margin-bottom: 64px;
        }
        &__btn{
            padding: 15px 43px;
        }
        &__title{
            font-size: 28px;
            margin-bottom: 24px;
        }
        &__pretitle{
            font-size: 16px;
            margin-bottom: 48px;
        }
        &__list{
            grid-gap: 30px;
            &-item{
            &--img{
                margin-bottom: 20px;
            }
            &--text{
                font-size: 14px;
            }
        }
    }
    }
  }

.why-we {
  @include big-width;
  padding-top: 100px;
  &__title {
    text-align: center;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    color: $white;
    margin-bottom: 120px;
  }
  &__container {
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: space-evenly;
    margin-bottom: 250px;
  }
  &__list1 {
    &-item {
      margin-bottom: 80px;
      &--title {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: $white;
        margin-bottom: 23px;
      }
      &--text {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: $heroGrey;
        padding-left: 20px;
        position: relative;
      }
      &--text::before {
        content: "";
        width: 1px;
        height: 100%;
        background: $blue;
        left: 0;
        position: absolute;
      }
    }
  }

  &__list2 {
    &-item {
      margin-bottom: 80px;
      &--title {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: $white;
        margin-bottom: 23px;
      }
      &--text {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: $heroGrey;
        padding-left: 20px;
        position: relative;
      }
      &--text::before {
        content: "";
        width: 1px;
        height: 100%;
        background: $blue;
        left: 0;
        position: absolute;
      }
    }
  }
}
@media (max-width: 800px) {
  .why-we {
    padding-top: 0;
    &__title {
      margin-bottom: 62px;
    }
    &__container {
      display: block;
      margin-bottom: 144px;
    }
    &__list1 {
      &-item {
        margin-bottom: 52px;
        &--title {
          font-size: 18px;
          line-height: 21px;
        }
        &--text::before {
          content: "";
          width: 1px;
          height: 100%;
          background: $blue;
          left: 1px;
          position: absolute;
        }
      }
    }
    &__list2 {
      &-item {
        margin-bottom: 52px;
        &--title {
          font-size: 18px;
          line-height: 21px;
        }
        &--text::before {
          content: "";
          width: 1px;
          height: 100%;
          background: $blue;
          left: 1px;
          position: absolute;
        }
      }
    }
  }
}

.process {
  @include big-width;
  display: grid;
  width: 100%;
  grid-template-columns: 300px 300px;
  justify-content: space-around;
  &__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    color: $white;
  }
  &__list > li {
    position: relative;
    margin-bottom: 126px;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: $heroGrey;
  }
  &__list > li:nth-child(1):before {
    content: "1";
    position: absolute;
    font-weight: 300;
    font-size: 60px;
    line-height: 69px;
    color: $white;
    left: -92px;
    top: 0;
  }
  &__list > li:nth-child(2):before {
    content: "2";
    position: absolute;
    font-weight: 300;
    font-size: 60px;
    line-height: 69px;
    color: $white;
    left: -92px;
    top: 0;
  }
  &__list > li:nth-child(3):before {
    content: "3";
    position: absolute;
    font-weight: 300;
    font-size: 60px;
    line-height: 69px;
    color: $white;
    left: -92px;
    top: 0;
  }
  &__list > li:nth-child(4):before {
    content: "4";
    position: absolute;
    font-weight: 300;
    font-size: 60px;
    line-height: 69px;
    color: $white;
    left: -92px;
    top: 0;
  }
  &__list > li:nth-child(5):before {
    content: "5";
    position: absolute;
    font-weight: 300;
    font-size: 60px;
    line-height: 69px;
    color: $white;
    left: -92px;
    top: 0;
  }
}

@media (max-width: 820px) {
  .process {
    display: block;
    width: 91%;
    &__title {
      margin-bottom: 50px;
    }
    &__list > li {
      padding-left: 50px;
      max-width: 500px;
      position: relative;
      margin-bottom: 66px;
      font-size: 20px;
      line-height: 140%;
    }
    &__list > li:nth-child(1):before {
      left: 0;
    }
    &__list > li:nth-child(2):before {
      left: 0;
    }
    &__list > li:nth-child(3):before {
      left: 0;
    }
    &__list > li:nth-child(4):before {
      left: 0;
    }
    &__list > li:nth-child(5):before {
      left: 0;
    }
  }
}

.team {
  @include small-width;
  &__block1 {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    margin-top: 44px;
    border-bottom: 1px solid $borderBlack;
    &-title {
      font-weight: 400;
      font-size: 40px;
      line-height: 46px;
      color: $white;
    }
    &-list {
      margin-bottom: 100px;
    }
    &-list > li {
      margin-bottom: 32px;
      position: relative;
    }
    &-list > li::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border: 1px solid $blue;
      left: -36px;
      bottom: 9px;
    }
    &-item {
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      color: $heroGrey;
    }
  }
  &__block2 {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    margin-top: 44px;
    &-title {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 46px;
      color: $white;
    }
    &-list > li {
      margin-bottom: 32px;
      position: relative;
    }
    &-list > li::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border: 1px solid $blue;
      left: -36px;
      bottom: 9px;
    }
    &-item {
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      color: $heroGrey;
    }
  }
}
@media (max-width: 1000px) {
  .team {
    &__block1 {
      grid-template-columns: 200px 350px;
      justify-content: space-between;
    }
    &__block2{
      grid-template-columns: 200px 350px;
      justify-content: space-between;
    }
  }
}
@media (max-width: 775px) {
  .team {
    &__block1 {
      display: block;
      margin-top: 44px;
      &-title{
        margin-bottom: 32px;
      }
    }
    &__block2{
      margin-top: 44px;
display: block;
&-title{
  margin-bottom: 32px;
}
    }
  }
}
@media (max-width: 550px) {
  .team {
    &__block1 {
      &-title {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 32px;
      }
      &-list {
        margin-bottom: 60px;
      }
      &-list > li {
        margin-bottom: 28px;
        padding-left: 30px;
      }
      &-list > li::before {
        left: -20px;
        top: 10px;
      }
      &-item {
        font-size: 18px;
      }
    }
    &__block2 {
      &-title {
        font-size: 28px;
        line-height: 32px;

      }
      &-list > li {
        margin-bottom: 32px;
        padding-left: 30px;
      }
      &-list > li::before {
        left: -20px;
        top: 10px;
      }
      &-item {
        font-size: 18px;
      }
    }
  }
}


.technologies__main-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  color: $white;
  padding-bottom: 120px;
  @media (max-width: 700px) {
    font-size: 36px;
    line-height: 136%;
    padding-bottom: 62px;
  }
}

.technologies {
  @include big-width;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  border-top: 1px solid #3B4857;
  padding: 32px 0 20px 0;
  &__list{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: space-between;
  }
  &__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $white;
    max-width: 235px;
    width: 100%;
  }
  &__list-item {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: $white;
    width:300px;
    margin-bottom: 28px;
    &--text {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: $boobsGrey;
      margin-top: 12px;
    }
  }
}

@media (max-width: 923px) {
  .technologies__title {
    padding-right: 5px;
    min-width: 230px;
  }
  .technologies__list-item{
    width: 230px;
  }
}


@media (max-width: 600px) {
  .technologies__title {
    margin-bottom: 20px;
  }
  .technologies {
    display: block;
  }
}